/**
 * @name auto collapsible | sysmol24
 * @description Float theme inspired module that expands or hides certain panels when app window size changes.
*/

@media (max-height: 500px) {
  [class^=subtitleContainer_] {
    display: none
  }
}

@media (max-width: 700px) {

  [class^='chat_']>[class^='content_']>[class^='container_'],
  [class^="membersWrap_"] {
    display: none
  }
}

@media (max-width: 600px) {
  [class^=sidebar_] {
    display: none
  }
}

@media (max-width: 500px) {
  [class*='guilds_'] {
    display: none
  }

  [class^='container_'][aria-label^="Friends"],
  [class^=chat_] {
    margin-left: var(--pad)
  }
}

@media (min-width: 1300px) {
  [class^='content_']>[class^='outer_'] {
    width: var(--profile-width) !important;
    transition: width var(--collapse-transition);
  }
}

@media (min-width: 1200px) {
  [class^=membersWrap_] {
    transition: min-width ease 0.25s, border var(--border-transition);
    min-width: var(--sidebar-width);

    >[class^=members_] {
      min-width: inherit;
    }

    &::after {
      content: 'members';
    }
  }
}
