/**
 * @name chat indicators | sysmol24
 * @description a module that makes chat indicators such as typing or cooldown float, expand on hover and look better.
*/

/* fix colors */
[class^='cooldownWrapper_'],
[class^=jumpToPresentBar_]>button {
  color: var(--txt-1) !important;
}

/* indicators */
:has([class^='typing_']) {
  [class^='channelBottomBarArea_'] {
    margin-top: -3px;
  }

  [class^=chatContent_] {

    [class^=scroller_],
    >[class^=messagesWrapper_] {
      border-bottom-left-radius: var(--panel-roundness) !important;
      border-bottom-right-radius: var(--panel-roundness) !important;
    }

    >[class^=messagesWrapper_] {
      margin-bottom: 0 !important;
    }
  }
}

[class^='form_'] [class^='typing_'] {
  border: 0;
  margin-top: -5px;
  width: 50%;
  border-radius: var(--panel-roundness);
  position: relative;
  align-self: center;
  background: var(--bg-2);
  transition: width .3s ease, background .3s ease, opacity .3s;

  >[class^='typingDots_'] {
    margin-left: 2px !important;
  }

  >[class^='cooldownWrapper_'] {
    margin-right: 2px !important;
    flex-direction: row-reverse;

    &>[class^='slowModeIcon_'] {
      margin: 0 4px;
    }
  }

  &:hover {
    width: 85%;
    background: color-mix(in oklch, var(--bg-2), transparent 50%);
    backdrop-filter: blur(3px);
    transition: width .3s ease, background .3s ease, opacity .3s;
  }
}

[class^='chatContent_'] {
  & [class^='jumpToPresentBar_'] {
    opacity: .95 !important;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    place-self: center;
    width: auto !important;
    display: flex;
    flex-direction: column;
    margin-bottom: 0 !important;
    bottom: var(--txt-pad);
    right: 0;
    left: 0 !important;
    border-radius: var(--panel-roundness);
    padding-bottom: 0 !important;
    background-color: color-mix(in oklch, var(--bg-2), transparent 25%);
    backdrop-filter: blur(3px);
    transition: opacity.15s !important;
    border: 0 !important;

    &:hover {
      opacity: 1 !important
    }
  }

  &:has([class^='typing_']) [class^='jumpToPresentBar_'] {
    bottom: 36px;
  }

  &:has([class^='jumpToPresentBar_'], [class^='typing_']) {

    [class^=scroller_],
    >[class^=messagesWrapper_] {
      border-bottom-left-radius: var(--panel-roundness) !important;
      border-bottom-right-radius: var(--panel-roundness) !important;
    }
  }
}

:has([class^='jumpToPresentBar_']) [class^='chatContent_']:not(:has([class^='typing_'])) {
  >[class^=messagesWrapper_] {
    margin-bottom: 0 !important;
  }
}
