/**
 * @name compact | sysmol24
 * @description a module that makes the theme more compact.
*/

:root {
  --custom-channel-textarea-text-area-height: 44px;
  --profile-width: 320px;
}

/* compact channels */
.containerDefault_f6f816 {

  >[class^='list_'],
  [class^='linkBottom_'],
  [class*='wrapper_'],
  [class*='iconItem_'] {
    margin-left: 0;
    padding: 0;
  }

  [class^='unread_'] {
    left: 0;
  }
}

.thin_eed6a8::-webkit-scrollbar {
  width: 0;
}

[class^='messagesWrapper_']>[class^=scroller_],
[class^='newMessagesBar_'] {
  top: 0;
}

[class^='content_']>[class^='outer_'] {
  padding: 3px;
  --txt-pad: 3px;
}

[class^='channelBottomBarArea_'] {
  [class*='slateTextArea_'] {
    padding-right: 0;
    right: 0;
  }

  [class*='attachButton_'] {
    padding: 12px;

    svg {
      width: 20px;
    }
  }

  [class*='buttons_'] button {
    width: 32px;
  }
}

.vc-userAreaStyles {
  height: unset !important;
}

[class^='subtitleContainer_'] [class*='iconWrapper_'] {
  margin: 0 4px;
}

/* hide cooldown text (remove if you want it back) */
[class^='jumpToPresentBar_']>[class^="barButtonMain_"] {
  display: none !important;
}
