/**
 * @name indirect fixes | sysmol24
 * @description various workaround fixes for sysmol24.
*/

/* system24 related changes */
[class^='membersWrap_'] {
  &::after {
    content: 'mem…';
  }

  &:hover::after {
    content: 'members';
  }
}

[class^='sidebar_'] {
  &>[class^='container_']::after {
    content: 'ser…';
  }

  &:hover>[class^='container_']::after {
    content: 'server';
  }
}

[class^='textArea_'] [class*='fontSize16Padding_'] {
  padding-bottom: 17px !important;
  padding-top: 17px !important;
}

/* fix app button rounding */
[class^="channelAppLauncher_"] {
  & [class^="button_"] {
    transform: scale(0.5);
  }

  & [class^="lottieIcon_"] {
    transform: scale(2);
  }
}

/* collapsible Friends tab */
[class^='container_'] {

  [class^='peopleColumn_'],
  &[aria-label^="Friends"] {
    overflow: hidden !important;
  }
}

[class^='container_'][aria-label^="Friends"] {
  padding-top: 10px;
  margin-top: -10px;
}

[class^='peopleList_'] {
  & [class*='discriminator_'] {
    display: none;
  }

  & [class*='hovered_'] [class*='discriminator_'] {
    display: flex;
  }
}

/* fix typing indicators */
/* currently kinda unoptimized but functional */
[class^='form_'] [class^='typing_'] {
  border-bottom-left-radius: var(--panel-roundness);
  border-bottom-right-radius: var(--panel-roundness);

  >[class^='typingDots_'] {
    margin-left: var(--txt-pad);
  }

  >[class^='cooldownWrapper_'] {
    margin-right: var(--txt-pad);
  }
}

[class^='jumpToPresentBar_'] {
  left: 0;
  right: 0;
  padding: 0;
  border-radius: 0;
  background: var(--bg-0);
  opacity: 100%;
}

[class^=chatContent_]:has([class^='jumpToPresentBar_'], [class^='typing_']) {

  [class^=scroller_],
  >[class^=messagesWrapper_] {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }
}

:has([class^='typing_']) [class^=chatContent_] {
  >[class^=messagesWrapper_] {
    margin-bottom: 22px;
  }
}

:has([class^='jumpToPresentBar_']) [class^='chatContent_']:not(:has([class^='typing_'])) {
  >[class^=messagesWrapper_] {
    margin-bottom: 24px;
  }
}

[class^='chatContent_']:has([class^='typing_'])>[class^='messagesWrapper_']>[class^='jumpToPresentBar_'] {
  margin-bottom: 0 !important;
}

[class^='chatContent_']:not(:has([class^='typing_'])) [class^='jumpToPresentBar_'] {
  border-bottom-left-radius: var(--panel-roundness) !important;
  border-bottom-right-radius: var(--panel-roundness) !important;
  margin-bottom: -26px !important;
  width: 100% !important;
  left: -2px;
  border: var(--border-width) solid var(--border-color);
  border-top: none;
  transition: border-color var(--border-transition);
}

/* fix border hover effect */
[class^='chatContent_']:has(> [class^=messagesWrapper_]:hover, [class^='jumpToPresentBar_']:hover) {
  [class^='jumpToPresentBar_'] {
    border-color: var(--border-hover-color);
  }
}
