/**
 * @name compact | sysmol24
 * @description a module that makes the theme more compact.
*/

:root {
  --custom-channel-textarea-text-area-height: 44px;
  --profile-width: 320px;
}

[class^='userPanelOuter_'] {
    padding: 3px;
    --txt-pad: 3px;
}

/* hide cooldown text (remove if you want it back) */
[class^='chatContent_'] {
    & [class^='jumpToPresentBar_'] [class^="barButtonMain_"] {
        display: none !important;
    }
}
