/**
 * @name compact | sysmol24
 * @description a module that makes the theme more compact.
*/

:root {
  --custom-channel-textarea-text-area-height: 44px;
  --profile-width: 320px;
}

[class^='content_']>[class^='outer_'] {
  padding: 3px;
  --txt-pad: 3px;
}

/* hide cooldown text (remove if you want it back) */
[class^='jumpToPresentBar_']>[class^="barButtonMain_"] {
  display: none !important;
}

[class^='channelBottomBarArea_'] {
  & [class*='fontSize16Padding_'] {
    padding-bottom: 11px !important;
    padding-top: 11px !important;
  }

  & [class*='slateTextArea_'] {
    padding-right: 0;
    right: 0;
  }

  & [class*='attachButton_'] {
    padding: 12px;

    svg {
      width: 20px;
    }
  }

  & [class*="buttons_"] button {
    width: 32px;
  }
}

[class*='guilds_'] {
  padding-top: unset;
}
