/**
 * @name plugin fixes | sysmol24
 * @description a module that makes some external plugins from vencord/equicord more compatible.
*/

/* BetterUserArea override */
.vc-userAreaStyles {
  display: flex !important;
  height: var(--custom-channel-textarea-text-area-height) !important;
}

/* fix DecodeBase64 icon color */
[aria-label*="Base64"] {
  path {
    stroke: var(--interactive-normal);
  }

  &:hover path {
    stroke: var(--interactive-hover);
    background-color: var(--background-modifier-hover)
  }
}

/* MemberCount support (very basic) */
.vc-membercount-widget {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.vc-membercount-member-list {
  justify-content: center;
  margin: 1em 0 -.5em !important;
  padding-inline: 0;
}

.vc-membercount-online-dot,
.vc-membercount-total-dot {
  display: none !important;
  margin-right: .25em;
}

[class^=members_]:hover {
  .vc-membercount-widget {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
  }

  .vc-membercount-online-dot,
  .vc-membercount-total-dot {
    display: inline-flex !important
  }
}
