/**
 * @name unseperate app | sysmol24
 * @description a module that tries to bring the app button inside the chat input bar. (very experimental & messy)
*/

[class^='channelAppLauncher_']>[class^='buttonContainer_'] {
    border-left: 0;
}

[class^='form_']>[class^="channelBottomBarArea_"]>[class^='channelTextArea_']>[class^="scrollableContainer_"] {
    overflow-y: hidden;
    border-radius: 0;
}

.stackedBars_bdf0de {
    background: var(--background-secondary);
    border-top-left-radius: var(--panel-roundness);
    border-top-right-radius: 0;
}

:has(.replyBar_b11c5e) :has(.channelAttachmentArea_e8c527) [class^="channelAppLauncher_"],
:has(.replyBar_b11c5e) :not(:has(.channelAttachmentArea_e8c527)) [class^="channelAppLauncher_"] {
    background: linear-gradient(to bottom, var(--background-secondary) 35px, var(--background-primary) 35px);
    border-bottom-right-radius: var(--panel-roundness);
    border-top-right-radius: var(--panel-roundness);

    &>[class^='buttonContainer_'] {
        margin-top: 35px;
        background: transparent;
        border-bottom-right-radius: var(--panel-roundness);
    }
}

:has(.channelAttachmentArea_e8c527) [class^="channelAppLauncher_"],
:has([class^='form_']>[class^="channelBottomBarArea_"]>[class^='channelTextArea_']>[class^="scrollableContainer_"]>[class^='stickerPreviews_']) [class^="channelAppLauncher_"] {
    &>[class^='buttonContainer_'] {
        height: fit-content;
        border-top: thin solid var(--background-modifier-accent);
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        flex: 0 0 auto;
        box-sizing: border-box;
    }
}

:has([class^='form_']>[class^="channelBottomBarArea_"]>[class^='channelTextArea_']>[class^="scrollableContainer_"]>[class^='stickerPreviews_']) [class^="channelAppLauncher_"]>[class^='buttonContainer_'] {
    margin-right: 16px !important;
}

:has(.channelAttachmentArea_e8c527) [class^="channelAppLauncher_"]>[class^='buttonContainer_'] {
    border-width: var(--border-width) !important;
}

[class*="replyBar_b11c5e"] {
    display: flex;
    flex-direction: row;

    &,
    [role="button"] {
        order: 2;
    }
}

.text_b11c5e {
    margin-left: 0;
}

.mentionButton_b11c5e {
    padding: 0px 12px;
}
