/**
 * @name classes | sysmol24
 * @description temporary class name updates to make the theme work.
*/

/* user profiles */
[class^='base'] [class^='content_']>[class^='outer_'] {
	--background-secondary-alt: var(--bg-0) !important;
}

[class^='base'] [class^='content_']>[class^='outer_'] {
	border-radius: var(--panel-roundness);
	border: var(--border-width) solid var(--border-color);
	transition: border-color var(--border-transition);
	&:hover {
		border-color: var(--border-hover-color);
		&::after {
			color: var(--border-hover-color);
		}
	}
}

[class^='base'] [class^='content_']>[class^='outer_']::after {
	display: block;
	color: var(--txt-3);
	font-weight: var(--label-font-weight);
	position: absolute;
	top: -10px;
	left: 8px;
	background-color: var(--bg-0);
	padding: 0 4px;
	z-index: 100;
	transition: color var(--border-transition);
}

[class^='base'] [class^='content_']>[class^='outer_']::after {
	content: 'profile';
}

[class^='base'] [class^='content_']>[class^='outer_'] {
	padding: var(--txt-pad);
	box-sizing: border-box;
	background-clip: content-box;
}

[class^='base'] [class^='content_']>[class^='outer_']>[class^='inner_'] {
	position: relative;
}
