[class^=sidebar_] {
  & [class^='barFill_'] {
    opacity: 75%;
    background: rgb(220, 220, 220);
    transition: background ease 0.25s;
  }

  & [class^='panels_'] {
    &::after {
      content: 'yoy!';
    }

    &:hover::after {
      content: 'literally yoy!';
    }
  }

  &:hover {
    [class^='privateChannels_']::after {
      content: 'dms / gcs';
    }

    [class^='barFill_'] {
      opacity: 100%;
      background: var(--control-brand-foreground-new);
    }
  }
}

[class*=guilds_]::after {
  content: 'serek';
}

[class^='membersWrap_'] {
  &::after {
    content: 'tuah';
  }

  &:hover::after {
    content: 'nelles';
  }
}

[class^='form_'] [class^='channelTextArea_']::after {
  content: 'meow';
}

[class*='search_']>[class^='searchBar_'] {
  width: 120px;
}
