/**
 * @name personal overrides | sysmol24
 * @description my personal css theme overrides.
*/

[class^=sidebar_] {
  [class^='barFill_'] {
    opacity: 75%;
    background: var(--text-normal);
    transition: background var(--border-transition);
  }

  & [class^='panels_'] {
    &::after {
      content: 'yoy!';
    }

    &:hover {
      &::after {
        content: 'literally yoy!';
      }

      [class^='barFill_'] {
        opacity: 100%;
        background: var(--control-brand-foreground-new);
      }
    }
  }
}

[class*=guilds_]::after {
  content: 'serek';
}

[class^='membersWrap_'] {
  &::after {
    content: 'tuah';
  }

  &:hover::after {
    content: 'nelles';
  }
}

[class^='form_'] [class^='channelTextArea_']::after {
  content: 'meow';
}

[class*='search_']>[class^='searchBar_'] {
  width: 120px;
}

/* color app borders on chat area hover */
[class^='entryPointButtonContainer_'] {
  transition: border-color var(--border-transition);
}

[class^="channelBottomBarArea_"] {
  &:hover {

    [class^='entryPointButtonContainer_'],
    [class^="buttonContainer_"] {
      border-color: var(--border-hover-color);
      transition: border-color var(--border-transition);
    }
  }
}

.theme-dark,
html.theme-light {
  --scrollbar-thin-thumb: display: none;
  --scrollbar-thin-track: display: none;
}

/* message hover bar */
[class^='buttonContainer_'] [class*='popoverReactionHoverBar_'] {
  background: var(--bg-1) !important;
}

/* discover button animation */
[class^='footer_'] [class^='circleIconButton_'] {
  & svg {
    scale: 1;
    transition: color .15s ease-out, scale .15s ease-out, rotate .5s ease-out;
  }

  &[class*='selected_'] {
    background-color: var(--bg-brand);

    svg {
      scale: 1.2;
      rotate: 180deg;
    }
  }
}

/* member list top activity */
[class^='membersWrap_']:not(:hover) {
  [class*='openOnHover_'] {
    padding-right: 4px;
    margin-right: 4px;

    img {
      overflow: hidden !important;
      height: 16px !important;
      width: fit-content;
      transition: height var(--collapse-transition);
    }

    .badgeContainer_d60c6d {
      overflow: visible !important;
    }
  }
}
