@import url('https://refact0r.github.io/system24/src/main.css');
@import url('https://raw.githubusercontent.com/Androser420/sysmol24/refs/heads/main/src/classes/updated-classes.css');

:root {
  --corner-text: 'sysmol24';

  /* Smol config */
  --sidebar-width: 240px;
  --profile-width: 340px;
  --profile-padding: 8px;
  --collapsed-sidebar-width: 64px;
  --collapsed-member-list-width: 64px;
  --collapsed-profile-width: calc(var(--profile-width) / 2.25);
  --collapse-transition: 0.25s ease;
}

/* profile panel */
[class^='panels_'] {
  >[class^='container_'] {
    padding: var(--profile-padding);
  }

  [class^="avatarWrapper"] {
    min-width: 0;
    margin-right: 0;

    [class^='nameTag_'] {
      padding: 0 inherit;
    }

    [class^='hoverRoll_'] {
      vertical-align: text-top;
    }
  }

  [type*="button"],
  [aria-label="Total Duration"],
  .vc-spotify-button-row {
    display: none !important;
  }
}

/* sidebar */
html:not(.visual-refresh) [class^='sidebar_']:not([class^='hidden']) {
  width: var(--collapsed-sidebar-width) !important;
  transition: width var(--collapse-transition);

  &:hover {
    width: var(--sidebar-width) !important;

    [type*="button"],
    [id='vc-spotify-progress-bar'] [class^='bar_'],
    [aria-label="Total Duration"],
    .vc-spotify-button-row {
      display: flex !important;
    }

    [class*="avatarWrapper_"]>[class*="avatar_"],
    [id='vc-spotify-progress-bar'] [aria-label="Progress"] {
      margin: auto;
    }

    .vc-spotify-time-left {
      left: 6px;
    }

    /* fix event tab */
    [class^=channelNotice] {

      [class^=stageIcon],
      [class*=liveNowText] {
        display: block;
      }
    }
  }

  &:not(:hover) {
    [class^='avatarWrapper_'] {
      overflow: hidden;
      padding: 8px;
      /* should be 0 but isnt cuz of avatar decorations */
      margin: 0;

      >[class*='avatar_'] {
        margin: 0;
      }
    }

    [class^='panels_'] {
      [class^='container_'] {
        padding: 0 !important;
        place-content: center;
      }
    }

    [class^='nameTag_'] {
      display: none;
    }
  }

  [class^='nav_'],
  [class^='header_'],
  .vc-spotify-button-row {
    overflow: hidden;
  }

  [class^=linkTop] {
    display: flex;
    flex-direction: row-reverse;

    [class^='channelInfo_'],
    [class^='iconItem_'] {
      margin-right: 8px;
      margin-left: 0;
    }

    [class^='children_'],
    [class^='iconContainer_'] {
      order: -1;
    }

    [class^=sidebar]:not(:hover) & [role=img] {
      display: none
    }
  }

  [class^=channelNotice] {

    [class^=stageIcon],
    [class*=liveNowText] {
      display: none;
    }

    >[class*=joinButton] {
      min-width: 0;
    }

    >[class*=singleLine_] {
      white-space: wrap;
    }
  }
}

[class^=membersWrap_] {
  min-width: 0;
  padding-top: unset;

  >[class^='scroller_'] {
    top: 0;
  }

  &,
  >[class^=members_] {
    width: var(--collapsed-member-list-width);
    transition: width var(--collapse-transition);
  }

  &:hover,
  >[class^=members_]:hover {
    width: var(--sidebar-width);
  }
}

[class^='content_']>[class^='outer_'] {
  width: var(--collapsed-profile-width);
  transition: width var(--collapse-transition);

  >[class^='inner_'] {
    border-radius: calc(var(--panel-roundness) - var(--txt-pad) - 2px);
  }

  &:hover {
    width: var(--profile-width);
  }
}

/* footer buttons */
[class^='circleIconButton_'] {
  background-color: var(--bg-1);

  &[class*='selected_'] {
    color: var(--white);
  }
}

/* rounding fixes */
[class^=members],
[class^='messagesWrapper_'] [class^=scroller_],
[class^='content_'] [class^='wrapper_'] [class^='callContainer_'],
[class^='nowPlayingColumn_']>[class^='container_'],
[class^=chatContent_] {
  border-radius: var(--panel-roundness);
}

ul {
  [class^='footer'] {
    background: none;
    margin-top: unset;
  }

  [class^='gradient'] {
    background: var(--bg-overlay-app-frame, var(--background-tertiary))
  }
}

[class^='animatedContainer_'],
[class^='channelTextArea_'] [class^='floatingBars_'] [class^='banner_'],
#vc-spotify-player::after {
  border-radius: var(--panel-roundness) var(--panel-roundness) 0 0 !important;
}

:has([class*='connection_']) #vc-spotify-player::after {
  border-radius: 0 !important;
}

[class^='nowPlayingColumn_'] [class^='scroller_'] {
  border-left: 0;
  margin-left: 0;
}

[class^='sidebar_'] [class^='scroller_'] {
  border-radius: 0 0 var(--panel-roundness) var(--panel-roundness) !important;
}

/* misc changes for system24 */
.vc-spotify-time-left,
.vc-spotify-time-right {
  z-index: 1;
  top: 4px;
  mix-blend-mode: difference;
  font-size: 14px;
}

.vc-spotify-time-left {
  left: 0;
}

#vc-spotify-info-wrapper img {
  max-width: 100%;
}
