@import url('https://refact0r.github.io/system24/src/main.css');
@import url('https://raw.githubusercontent.com/Androser420/sysmol24/refs/heads/main/src/classes/base.css');

:root {
  --corner-text: 'sysmol24';

  /* Smol config */
  --member-list-width: var(--sidebar-width);
  --sidebar-width: 240px;
  --profile-width: 340px;
  --profile-padding: 8px;
  --collapsed-sidebar-width: 64px;
  --collapsed-member-list-width: var(--collapsed-sidebar-width);
  --collapsed-profile-width: calc(var(--profile-width) / 2.25);
  --collapse-transition: 0.25s ease;
}

/* profile panel */
[class^='panels_'] {
  >[class^='container_'] {
    padding: var(--profile-padding);
  }

  [class^="avatarWrapper"] {
    min-width: 0;
    margin-right: 0;

    [class^='nameTag_'] {
      padding: 0 inherit;
    }

    [class^='hoverRoll_'] {
      vertical-align: text-top;
    }
  }

  button,
  [aria-label="Total Duration"] {
    display: none !important;
  }
}

/* sidebar */
html:not(.visual-refresh) [class^='sidebar_']:not([class^='hidden']) {
  transition: width var(--collapse-transition);

  &:not(:hover) {
    width: var(--collapsed-sidebar-width) !important;

    [class^='avatarWrapper_'] {
      overflow: hidden;
      padding: 8px;
      margin: 0;
    }

    [class^='panels_']>[class^='container_'] {
      padding: 0 !important;
      place-content: center;
    }

    [class^='nameTag_'] {
      display: none;
    }
  }

  &:hover {
    width: var(--sidebar-width);

    [class^='panels_'] button {
      display: flex !important;
    }
  }

  [class^='nav_'],
  [class^='header_'] {
    overflow: hidden;
  }

  [class^=channelNotice] {

    [class^=stageIcon],
    [class*=liveNowText] {
      display: none;
    }

    >[class*=joinButton] {
      min-width: 0;
    }

    >[class*=singleLine_] {
      white-space: wrap;
    }
  }
}

[class^=membersWrap_] {
  min-width: 0;
  padding-top: unset;

  >[class^='scroller_'] {
    top: 0;
  }

  &,
  >[class^=members_] {
    width: var(--collapsed-member-list-width);
    transition: width var(--collapse-transition);
  }

  &:hover {
    width: calc(var(--member-list-width) + 4px);
  }

  >[class^=members_]:hover {
    &:first-child {
      width: calc(var(--member-list-width) + 4px);
    }

    &:nth-child(2) {
      width: var(--member-list-width);
    }
  }
}

[class^='content_']>[class^='outer_'] {
  width: var(--collapsed-profile-width);
  transition: width var(--collapse-transition);

  >[class^='inner_'] {
    border-radius: calc(var(--panel-roundness) - var(--txt-pad) - 2px);
  }

  &:hover {
    width: var(--profile-width);
  }
}
