@import url('https://refact0r.github.io/system24/src/main.css');
@import url('https://raw.githubusercontent.com/Androser420/sysmol24/refs/heads/main/src/classes/updated-classes.css');

/* customize things here */
:root {
  --font: 'DM Mono';
  letter-spacing: -0.05ch;
  font-weight: 300;
  --label-font-weight: 500;
  --corner-text: 'sysmol24';
  --pad: 16px;
  --txt-pad: 10px;
  --panel-roundness: 0px;

  /* background colors */
  --bg-0: oklch(19% 0 0);
  --bg-1: oklch(23% 0 0);
  --bg-2: oklch(27% 0 0);
  --bg-3: oklch(31% 0 0);

  /* state modifiers */
  --hover: oklch(54% 0 0 / 0.1);
  --active: oklch(54% 0 0 / 0.2);
  --selected: var(--active);

  /* text colors */
  --txt-dark: var(--bg-0);
  --txt-link: var(--cyan);
  --txt-0: oklch(90% 0 0);
  --txt-1: oklch(80% 0 0);
  --txt-2: oklch(60% 0 0);
  --txt-3: oklch(40% 0 0);

  /* accent colors */
  --acc-0: var(--purple);
  --acc-1: var(--purple-1);
  --acc-2: var(--purple-2);

  /* borders */
  --border-width: 2px;
  --border-color: var(--bg-3);
  --border-hover-color: var(--acc-0);
  --border-transition: 0.2s ease;

  /* status dot colors */
  --online-dot: var(--green);
  --dnd-dot: var(--pink);
  --idle-dot: var(--yellow);
  --streaming-dot: var(--purple);

  /* mention/ping and message colors */
  --mention-txt: var(--acc-0);
  --mention-bg: color-mix(in oklch, var(--acc-0), transparent 90%);
  --mention-overlay: color-mix(in oklch, var(--acc-0), transparent 90%);
  --mention-hover-overlay: color-mix(in oklch, var(--acc-0), transparent 95%);
  --reply-overlay: var(--active);
  --reply-hover-overlay: var(--hover);

  /* color shades */
  --pink: oklch(73% 0.12 0);
  --pink-1: oklch(63% 0.12 0);
  --pink-2: oklch(53% 0.12 0);
  --purple: oklch(73% 0.12 300);
  --purple-1: oklch(63% 0.12 300);
  --purple-2: oklch(53% 0.12 300);
  --cyan: oklch(73% 0.12 200);
  --yellow: oklch(78% 0.12 80);
  --green: oklch(73% 0.12 160);
  --green-1: oklch(63% 0.12 160);
  --green-2: oklch(53% 0.12 160);

  /* smol theme */
  --collapsed-sidebar-width: 64px;
  --collapsed-member-list-width: 64px;
  --collapsed-profile-width: calc(var(--profile-width) / 2.25);
  --sidebar-width: 240px;
  --profile-width: 340px;
  --ui-margin-value: 12px;
  --ui-floating-radius: 8px;
}

/* sidebar */
html:not(.visual-refresh_a4d4d9) .sidebar_a4d4d9 {
  width: var(--collapsed-sidebar-width) !important;
  transition: width ease 0.25s;

  [class^='nav_'],
  [class^='header_'] {
    overflow: hidden;
  }

  &:hover {
    width: var(--sidebar-width) !important;

    [type*="button"],
    [id='vc-spotify-progress-bar'] [class^='bar_'],
    [aria-label="Total Duration"] {
      display: flex;
    }

    [class*="avatarWrapper_"]>[class*="avatar_"],
    [id='vc-spotify-progress-bar'] [aria-label="Progress"] {
      margin: auto;
    }

    .vc-spotify-time-left {
      left: 6px;
    }

    /* fix event tab */
    [class^=channelNotice] {

      [class^=stageIcon],
      [class*=liveNowText] {
        display: block;
      }
    }
  }

  & [class^=channelNotice] {

    [class^=stageIcon],
    [class*=liveNowText] {
      display: none;
    }

    >[class*=joinButton] {
      min-width: 0;
    }

    >[class*=singleLine_] {
      white-space: wrap;
    }
  }
}

[class^=membersWrap_] {
  min-width: 0;
  padding-top: unset;

  &,
  >[class^=members_] {
    width: var(--collapsed-member-list-width);
    transition: width ease 0.25s;
  }

  &:hover,
  >[class^=members_]:hover {
    width: var(--sidebar-width);
  }
}

[class^='content_']>[class^='outer_'] {
  width: var(--collapsed-profile-width);
  transition: width ease 0.25s;

  >[class^='inner_'] {
    border-radius: calc(var(--panel-roundness) - var(--txt-pad) - 2px);
  }

  &:hover {
    width: var(--profile-width);
  }
}

/* changes suggested by @andrew6rant */
[class^=spine_] {
  left: 6px;
}

[class*=wrapper_][class*=typeThread_] {
  margin-left: 50px;
}

[class^=link_][role="link"],
[class^=link_][role="button"] {
  padding: 6px 0 6px 0;
  right: 28px;
  margin-right: -28px;
}

/* other system24 related fixes */
[class^='panels_'] {
  & [class^="avatarWrapper"] {
    min-width: 0;
  }

  & [type*="button"],
  [aria-label="Total Duration"] {
    display: none;
  }
}

[class^="avatarWrapper_"]>[class*="avatar_"] {
  margin-left: 20%;
}

/* footer buttons */
[class^='circleIconButton_'] {
  background-color: var(--bg-1);

  &[class*='selected_'] {
    color: var(--white);
  }
}

/* rounding fixes */
[class^="base"] {

  [class^=members],
  >[class^=content_]>[class^=chat_]>[class^=subtitleContainer_]>[class^=title_],
  >[class^=content_]>[class^=chat_]>[class^=content_]>[class^=chatContent_],
  [class^='messagesWrapper_'] [class^=scroller_],
  [class^='content_'] [class^='wrapper_'] [class^='callContainer_'],
  [class^='nowPlayingColumn_']>[class^='container_'] {
    border-radius: var(--panel-roundness);
  }
}

ul {
  [class^='gradient'] {
    background: var(--bg-overlay-app-frame, var(--background-tertiary))
  }
}

[class^='animatedContainer_'],
[class^='form_'] [class^='channelTextArea_'] [class^='floatingBars_'] [class^='banner_'],
#vc-spotify-player::after {
  border-radius: var(--panel-roundness) var(--panel-roundness) 0 0 !important;
}

:has([class*='connection_']) [id='vc-spotify-player']::after {
  border-radius: 0 !important;
}

[class^='nowPlayingColumn_']>[class^='container_'] [class^='scroller_'] {
  border-left: 0;
  margin-left: 0;
}

[class^='sidebar_'] [class^='scroller_'] {
  border-radius: 0 0 var(--panel-roundness) var(--panel-roundness) !important;
}

/* misc changes for system24 */
.vc-spotify-time-left,
.vc-spotify-time-right {
  z-index: 1;
  top: 4px;
  mix-blend-mode: difference;
  font-size: 14px;
}

.vc-spotify-time-left {
  left: 0;
}

#vc-spotify-info-wrapper img {
  max-width: 100%;
}

.theme-dark,
html.theme-light {
  --scrollbar-thin-thumb: display: none;
  --scrollbar-thin-track: display: none;
}

[class^='form_'] [class^='channelTextArea_'] [class^='floatingBars_'] [class^='banner_'] {
  padding-bottom: 8px;
}
