html:not(.visual-refresh) [class^='sidebar_']:not([class^='hidden']) {
  [class^=linkTop] {
    [class^=sidebar]:not(:hover) & [role=img] {
      display: none
    }
  }
}

/* correct footer buttons' color */
[class^='circleIconButton_'] {
  background-color: var(--bg-1);

  &[class*='selected_'] {
    color: var(--white);
  }
}

/* send message button */
.separator_aa63ab {
  background-color: var(--border-color);
  width: var(--border-width);
  height: 100%;
}

.activeButtonChild_aa63ab {
  color: var(--interactive-normal);
  transition: none;
}

.button_aa63ab {

  &:hover .activeButtonChild_aa63ab,
  &:focus .activeButtonChild_aa63ab,
  &:focus-within .activeButtonChild_aa63ab {
    color: var(--interactive-hover) !important;
  }
}
