/**
 * @name sysmol24 (smg8)
 * @description a tui-style, collapsible discord theme with some of my personal preferences.
 * @author smg8
 * @version 1.0.3
 * @website https://github.com/Androser420/sysmol24
 * @source https://github.com/Androser420/sysmol24/blob/main/theme/flavors/personal.theme.css
 * @authorId 1106858419861864489
*/

/* flavors */
@import url('https://raw.githubusercontent.com/Androser420/sysmol24/refs/heads/main/src/main.css');

/* modules */
@import url('https://raw.githubusercontent.com/Androser420/sysmol24/refs/heads/main/theme/modules/indirect-fixes.css');
@import url("https://raw.githubusercontent.com/Androser420/sysmol24/refs/heads/main/theme/modules/extra-collapsible.css");
@import url("https://raw.githubusercontent.com/Androser420/sysmol24/refs/heads/main/theme/modules/chat-indicators.css");
@import url("https://raw.githubusercontent.com/Androser420/sysmol24/refs/heads/main/theme/modules/more-compact.css");

[class*="sidebar_"] [id='vc-spotify-progress-bar'] [class^='bar_'] [class^='barFill_'] {
  opacity: 75%;
  background: rgb(220, 220, 220);
  transition: background ease 0.25s;
}

[class*="sidebar_"]:hover [id='vc-spotify-progress-bar'] [class^='bar_'] [class^='barFill_'] {
  opacity: 100%;
  background: var(--control-brand-foreground-new);
}

[class*=guilds_]::after {
  content: 'serek';
}

[class^='membersWrap_']::after {
  content: 'tuah';
}

[class^='membersWrap_']:hover::after {
  content: 'nelles';
}

[class^=sidebar_] [class^='panels_']::after {
  content: 'yoy!';
}

[class^=sidebar_] [class^='panels_']:hover::after {
  content: 'literally yoy!';
}

[class^='form_'] [class^='channelTextArea_']::after {
  content: 'meow';
}

[class^=sidebar_]:hover [class^='privateChannels_']::after {
  content: 'dms / gcs';
}

[class*='search_']>[class^='searchBar_'] {
  width: 120px;
}
